@import "./GlobalVars.css";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PageWrapper {
  margin-top: 4rem;
  /* min-height: 78vh; */
}

@media screen and (max-height: 580px) {
  .PageWrapper {
    margin: 12rem 0 10rem;
  }
}
