*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-clr: #247881; /*1*/
  --main-bg-clr: var(--main-clr); /*should be changed*/
  --sub-clr: #43919b; /*2*/
  --third-clr: #30aadd; /*3*/
  --forth-clr: #00ffc6; /*4*/
  --mode-bg-clr: #fff;
  --mode-font-clr: #000;

  --main-clr-opacity: #24788141; /*1*/

  /* Loading Page */
  --loading-msg-container-width: 18rem;

  /* Navbar */
  --nav-height: 2.4rem;

  /* Menu */
  --menu-transition: all 0.4s;
  --menu-margin: 8rem;

  /* Notifications */
  --notification-width: 18rem;

  /* mode transition */
  --mode-transition: color 1s, background-color 1s;

  /* General */
  --border-radius: 0.4rem;

  /* Scrollbar */
  --scrollbar-width: 0.4rem;

  /* Account drop menu */
  --Accounts-drop-menu-width: 8.8rem;
}

/* start of scrollbar style  */

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  display: block;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sub-clr);
  border-radius: 100px;
}

*::-webkit-scrollbar-track-piece {
  margin: calc(var(--nav-height) + 1rem) 0 0;
  background: #0000;
}

/* end of scrollbar  */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--mode-font-clr);
  background-color: var(--mode-bg-clr);
  transition: var(--mode-transition);
  /* hiding the scrollbar track won't work without this line */
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link,
a:visited {
  color: var(--mode-font-clr);
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  * {
    font-size: 20px;
  }
}
