.Table {
  border-radius: 0.4rem;
  border-collapse: collapse;
}

tr > * {
  padding: 1rem 2rem;
}

tr:not(:first-child) {
  border-top: 0.1rem solid var(--main-clr-opacity);
}

tr > *:not(:first-child) {
  border-left: 0.1rem solid var(--main-clr-opacity);
}

tr:nth-child(even) {
  background-color: var(--main-clr-opacity);
}

@media screen and (max-width: 640px) {
  tr > *:nth-child(2),
  tr:not(:last-child) > *:nth-child(5),
  tr:last-child > *:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  tr > * {
    padding: 1rem 1.4rem;
  }
}
