@import "../../GlobalVars.css";

.AccountsDropMenu {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  height: 1.4rem;
  transition: 0.4s;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 0.4rem;
  background-color: #fff;
  border: 0.1rem solid var(--main-clr);
  width: var(--Accounts-drop-menu-width);
}

.AccountsDropMenu .currentAccount {
  border-bottom: 0.1rem solid var(--main-clr);
  border-radius: 0.4rem;
}

/* the transition doesn't work because the height is set to fit-content, with numeric values it works perfectly */
div.open {
  overflow-y: auto;
  height: 10rem;
}

.AccountsDropMenu .dropMenuWrapper {
  background-color: #fff;
}

.AccountsDropMenu .dropMenuWrapper li {
  overflow: hidden;
  width: calc(var(--Accounts-drop-menu-width) - 0.4rem);
}

.AccountsDropMenu .dropMenuWrapper li button.button {
  border: none;
  margin: 0;
}

.Account:hover .Account:focus {
  scroll-snap-type: smooth;
}

.AccountsDropMenu::-webkit-scrollbar-track-piece {
  margin: 1.6rem;
  background: #0000;
}
